In [5]:
import pandas as pd

df_ex2 = pd.DataFrame({
    '가격':[100, 140, 155, 70, 90],
    'PER':[1.1, 0.8, 0.7, 2.3, 3.9],
    '거래량':[1000, 800, 890, 700, 2000]
    }, index=['a', 'b', 'c', 'd', 'e'])

print(df_ex2)

    가격  PER   거래량
a  100  1.1  1000
b  140  0.8   800
c  155  0.7   890
d   70  2.3   700
e   90  3.9  2000

In [6]:
df_ex2[df_ex2['가격'] >= 100]

    가격  PER   거래량
a  100  1.1  1000
b  140  0.8   800
c  155  0.7   890

In [7]:
df_ex2[df_ex2['거래량'] < 1000]

    가격  PER  거래량
b  140  0.8  800
c  155  0.7  890
d   70  2.3  700

In [8]:
df_ex2['PER'].sort_values()

c    0.7
b    0.8
a    1.1
d    2.3
e    3.9
Name: PER, dtype: float64

In [11]:
df_ex2['PER'].sort_values(ascending=False)

e    3.9
d    2.3
a    1.1
b    0.8
c    0.7
Name: PER, dtype: float64

In [15]:
df_ex2.sort_values(by='PER')

    가격  PER   거래량
c  155  0.7   890
b  140  0.8   800
a  100  1.1  1000
d   70  2.3   700
e   90  3.9  2000

In [16]:
df_ex2.sort_values(by='PER',ascending=False)

    가격  PER   거래량
e   90  3.9  2000
d   70  2.3   700
a  100  1.1  1000
b  140  0.8   800
c  155  0.7   890

In [17]:
df_ex2['거래량'].rank()

a    4.0
b    2.0
c    3.0
d    1.0
e    5.0
Name: 거래량, dtype: float64

In [18]:
df_ex2['거래량'].rank(ascending=False)

a    2.0
b    4.0
c    3.0
d    5.0
e    1.0
Name: 거래량, dtype: float64