In [1]:
import MagicQuant


file_1 = './data/data - PER.tsv' 
file_2 = './data/data - ROA.tsv'
MagicQuant.magic_by_pd(file_1, file_2)

              PER   PER랭킹    ROA   ROA랭킹   랭킹 합계   종합 랭크
회사명
서한           3.22    22.0  23.65    25.0    47.0     1.0
골프존          4.19    38.0  24.77    21.0    59.0     2.0
동원개발         4.41    42.0  23.62    26.0    68.0     3.0
오가닉티코스메틱     5.11    66.5  44.06     3.0    69.5     4.0
모베이스         4.49    45.0  20.03    52.0    97.0     5.0
...           ...     ...    ...     ...     ...     ...
SCI평가정보   3662.70  1390.0  -6.80  1734.0  3124.0  1247.0
덕양산업       424.93  1358.0  -8.46  1773.0  3131.0  1248.0
디비케이       119.68  1281.0 -14.23  1863.0  3144.0  1249.0
이루온        197.50  1328.0 -13.28  1847.0  3175.0  1250.0
감마누        395.36  1355.0 -22.41  1893.0  3248.0  1251.0

[1251 rows x 6 columns]