In [46]:
import  pandas as pd

first = pd.Series([100, 500, 150])

In [47]:
type(first)

pandas.core.series.Series

In [48]:
print(first)

0    100
1    500
2    150
dtype: int64

In [49]:
series_ex1 = pd.Series([100,500,150], index=['카카오','삼성전자','현대차'])

In [50]:
print(series_ex1)

카카오     100
삼성전자    500
현대차     150
dtype: int64

In [51]:
print(series_ex1['카카오'])
print(series_ex1['삼성전자'])
print(series_ex1['현대차'])

100
500
150

In [52]:
# print(series_ex1['대우'])

In [53]:
print(series_ex1[0])
print(series_ex1[1])
print(series_ex1[2])

100
500
150

In [54]:
# print(series_ex1[3])

In [55]:
pd.DataFrame({'가격':[100, 500, 150], 'PER':[0.5, 1.2, 0.2], 'ROA':[1.01, 3.1, 0.97]}, index=['카카오', '삼성전자', '현대차'])

       가격  PER   ROA
카카오   100  0.5  1.01
삼성전자  500  1.2  3.10
현대차   150  0.2  0.97

In [56]:
df_ex1 = pd.DataFrame(
    {'가격':[100, 500, 150], 'PER':[0.5, 1.2, 0.2], 'ROA':[1.01, 3.1, 0.97]},
    index=['카카오', '삼성전자', '현대차'])

In [57]:
type(df_ex1)

pandas.core.frame.DataFrame

In [58]:
price = df_ex1['가격']
type(price)

pandas.core.series.Series

In [59]:
print(price)

카카오     100
삼성전자    500
현대차     150
Name: 가격, dtype: int64

In [60]:
df_ex1['가격']['삼성전자']
price['삼성전자']

500

In [61]:
# df_ex1['카카오']
kakao = df_ex1.loc['카카오']

In [62]:
type(kakao)

pandas.core.series.Series

In [63]:
kakao

가격     100.00
PER      0.50
ROA      1.01
Name: 카카오, dtype: float64