In [5]:
import requests
import pandas as pd

fs_url = 'http://comp.fnguide.com/SVO2/ASP/SVD_Finance.asp?pGB=1&gicode=A005930&cID=&MenuYn=Y&ReportGB=&NewMenuID=103&stkGb=701'
fs_page = requests.get(fs_url)
fs_tables = pd.read_html(fs_page.text)

temp_df = fs_tables[0]
temp_df = temp_df.set_index('IFRS(연결)')
temp_df = temp_df[['2016/12','2017/12','2018/12','2019/12']]
temp_df = temp_df.loc[['매출액','영업이익','당기순이익']]

# temp_df

            2016/12    2017/12    2018/12    2019/12
IFRS(연결)
매출액       2018667.0  2395754.0  2437714.0  2304009.0
영업이익       292407.0   536450.0   588867.0   277685.0
당기순이익      227261.0   421867.0   443449.0   217389.0

In [6]:
temp_df2 = fs_tables[2]
temp_df2 = temp_df2.set_index('IFRS(연결)')
temp_df2 = temp_df2.loc[['자산','부채','자본']]

# temp_df2

            2016/12    2017/12    2018/12    2019/12
IFRS(연결)
자산        2621743.0  3017521.0  3393572.0  3525645.0
부채         692113.0   872607.0   916041.0   896841.0
자본        1929630.0  2144914.0  2477532.0  2628804.0

In [7]:
temp_df3 = fs_tables[4]
temp_df3 = temp_df3.set_index('IFRS(연결)')
temp_df3 = temp_df3.loc[['영업활동으로인한현금흐름']]

# temp_df3

               2016/12   2017/12   2018/12   2019/12
IFRS(연결)
영업활동으로인한현금흐름  473856.0  621620.0  670319.0  453829.0

In [ ]:
fs_df = pd.concat([temp_df, temp_df2, temp_df3])

fs_df